@font-face {
  font-family: 'Arvo';
  src: local('Arvo'), url(../fonts/Arvo/Arvo-Regular.ttf) format('truetype');
}

.App {
  text-align: center;
  font-family: Arvo,serif;

}
.button {
  
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 80%;
  align-items: right;
  float:left;
  margin: 20px;
}
.instructions {
  font-size: 20px;
  justify-content: flex-start;
  text-align: left;
}
.edit-options {
  display: flex;
  justify-content: end;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  text-align: left;
  font-size: calc(10px + 4vmin);
  color: #5085A5;
  font-family: Arvo, serif;
  font-weight: 100;
  

}
.App-title {
  float: left;
  width: auto;
  padding-top: 20px;
}

.nav-bar {
  float: left;
  width: auto;
  padding-top: 20px;

}
.App-body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 4vmin);
  color: black;
  font-family: Arvo,Georgia,Cambria,Times New Roman,Times,serif;
}

.card {
  text-align: left;
  margin-left: auto;
  padding: 10px;
}

#date {
  text-align: left;
  padding: 10px;
  color: grey;
  font-size: calc(5px + 1vmin);
}
.post-title {
  font-size: calc(10px + 2vmin);

  padding: 10px;
}
.post-text {
  font-size: calc(10px + 1vmin);
  padding: 10px;

}
.new-input {
  padding:  100px;

}

