.App {
  text-align: center;
  
  font-family: Arvo,Georgia,Cambria,Times New Roman,Times,serif;

}
.button {
  
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 80%;
  align-items: right;
  float:left;
  margin: 20px;
}
.instructions {
  font-size: 20px;
  justify-content: flex-start;
  text-align: left;
}
.edit-options {
  display: flex;
  justify-content: end;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: left; */
  justify-content: flex-start;
  font-size: calc(10px + 4vmin);
  color: black;
  font-family: Arvo,Georgia,Cambria,Times New Roman,Times,serif;
  /* padding-left: 20vh; */

}

.App-body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 4vmin);
  color: black;
  font-family: Arvo,Georgia,Cambria,Times New Roman,Times,serif;
}

.card {
  text-align: left;
  margin-left: auto;
  padding: 10px;
}

#date {
  text-align: left;
  padding: 10px;
  color: grey;
  font-size: calc(5px + 1vmin);
}
.post-title {
  font-size: calc(10px + 2vmin);

  padding: 10px;
}
.post-text {
  font-size: calc(10px + 1vmin);
  padding: 10px;

}
.new-input {
  padding:  100px;

}

