.App {
  text-align: center;
}
.button {
  
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 80%;
  align-items: right;
  float:left;
  margin: 20px;
}
.instructions {
  font-size: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

